﻿@model VFIREWOOD.Areas.Management.Models.CustomLoginModel

<form asp-action="CreateUser" method="post" style="max-width:300px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        @foreach (var item in ViewBag.Roles)
        {

            <input type="checkbox" name="roles" value="@item.Name" />
            <label>@item.Name</label><br />
        }
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}