﻿@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="CreateRole" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" style="width:200px;"/>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>