﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h2>Список пользователей</h2>
<a class="btn btn-success" style="margin-bottom:10px;" asp-action="CreateUser">Добавить пользователя</a>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-primary" asp-action="EditRole" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>