﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FaneraLes-Torg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nesteddropdown.css" asp-append-version="true" />
    @{
        ViewBag.countProduct = 0;
        var session = Context.Session.GetString("IdProducts");
        if (session != null)
        {
            ViewBag.countProduct = JsonConvert.DeserializeObject<List<int>>(session).Count;
        }
    }
    <style>
        body {
            height: 100%;
            background-image: url('/images/oak_background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <script src="//code.jivosite.com/widget/bfMcBRgspx" async></script>
</head>
<body>
    <header>
        @*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow" style="background-color:brown">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FaneraLes-Torg</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @await Component.InvokeAsync("Category")
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Product" asp-action="Contacts">Контанты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Product" asp-action="Discounts">Скидки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Product" asp-action="Basket"><img style="width:24px; height:24px;" src="~/images/cartbasket.png" /><label id="basket_label">@ViewBag.countProduct</label></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="myContainer" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light" style="background-color:brown;">
        <div class="container">
            &copy; 2021 - FaneraLes-Torg
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nesteddropdownjs.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false);
</body>
</html>