﻿@model VFIREWOOD.Domain.Core.Advertising

@{
    ViewData["Title"] = "AddAdvertising";
}

<h1>Добавить рекламу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAdvertising" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" placeholder="Не обязательно"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" placeholder="Category/Fanera/DSP / Category/Fanera"/>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Show" /> @Html.DisplayNameFor(model => model.Show)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Выберите картинку размером 1100x300</label>
                <input type="file" name="titleImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
