﻿@model VFIREWOOD.Domain.Core.Category

@{
    ViewData["Title"] = "AddCategory";
}

<h1>Добавить категорию</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Fanera / Terrasnaya_doska"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuName" class="control-label"></label>
                <input asp-for="RuName" class="form-control" placeholder="Фанера  / Террасная доска"/>
                <span asp-validation-for="RuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Выберите картинку</label>
                <input type="file" name="titleImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
