﻿@model VFIREWOOD.Domain.Core.Product

@{
    ViewData["Title"] = "AddProduct";
}

<h1>Добавить продукт</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Подкатегории</label>
                <select class="form-control" name="subCategoryName">
                    @foreach (var item in ViewBag.SubCategories)
                    {
                        <option value="@item.Name">@item.RuName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <label>(Название может быть одинаковым у разных продуктов, но размеры всегда разные)</label>
                <input asp-for="Name" class="form-control" placeholder="Террасная доска из сосны сорт А"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="1200"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <label>(0 - Если нет скидки)</label>
                <input asp-for="Discount" class="form-control" value="0"/>
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimensions" class="control-label"></label>
                <input asp-for="Dimensions" class="form-control" placeholder="35х90х6000мм"/>
                <span asp-validation-for="Dimensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" placeholder="мм / см"/>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
