﻿@model VFIREWOOD.Domain.Core.SubCategory

@{
    ViewData["Title"] = "AddSubCategory";
}

<h1>Добавить подкатегорию</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Категории</label>
                <select class="form-control" name="categoryName">
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item.Name">@item.RuName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Vagonka" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuName" class="control-label"></label>
                <input asp-for="RuName" class="form-control" placeholder="Вагонка" />
                <span asp-validation-for="RuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Не обязательно"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BottomDescription" class="control-label"></label>
                <textarea asp-for="BottomDescription" class="form-control" placeholder="Не обязательно"></textarea>
                <span asp-validation-for="BottomDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Выберите картинку размером 150x150</label>
                <input type="file" name="titleImage" />
            </div>
            <div class="form-group">
                <label class="control-label">Выберите картинки для описания (не обязательно)</label>
                <input type="file" name="images" multiple/>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
