﻿@model IEnumerable<VFIREWOOD.Domain.Core.Advertising>

@{
    ViewData["Title"] = "Advertising";
}

<h1>Реклама</h1>

<p>
    <a asp-action="AddAdvertising">Добавить рекламу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageBase64)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    <img class="imagehw" src="data:image/png;base64,@item.ImageBase64">
                </td>
                <td>
                    @if (item.Show)
                    {
                        <p>Да</p>
                    }
                    else
                    {
                        <p>Нет</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditAdvertising", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "DeleteAdvertising", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
