﻿@model VFIREWOOD.Domain.Core.Category

@{
    ViewData["Title"] = "EditCategory";
}

<h1>Редактировать категорию</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuName" class="control-label"></label>
                <input asp-for="RuName" class="form-control" />
                <span asp-validation-for="RuName" class="text-danger"></span>
            </div>
            <div>
                <img src="data:image/png;base64,@Model.ImageBase64" style="width:150px; height:150px;" />
                <input type="hidden" name="oldTitleImage" value="@Model.ImageBase64" />
            </div>
            <div class="form-group">
                <label class="control-label">Выбрать новую картинку</label>
                <input type="file" name="titleImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
