﻿@model VFIREWOOD.Domain.Core.SubCategory

@{
    ViewData["Title"] = "EditSubCategory";
}

<h1>Редактировать подкатегорию</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSubCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Категории</label>
                <select class="form-control" name="categoryName">
                    @foreach (var item in ViewBag.Categories)
                    {
                        @if (item.Name == Model.CategoryName)
                        {
                            <option selected value="@item.Name">@item.RuName</option>
                        }
                        else
                        {
                            <option value="@item.Name">@item.RuName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuName" class="control-label"></label>
                <input asp-for="RuName" class="form-control" />
                <span asp-validation-for="RuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BottomDescription" class="control-label"></label>
                <textarea asp-for="BottomDescription" class="form-control"></textarea>
                <span asp-validation-for="BottomDescription" class="text-danger"></span>
            </div>
            <div>
                <img src="data:image/png;base64,@Model.ImageBase64" style="width:150px; height:150px;" />
                <input type="hidden" name="oldTitleImage" value="@Model.ImageBase64" />
            </div>
            <div class="form-group">
                <label class="control-label">Выбрать новую картинку</label>
                <input type="file" name="titleImage" />
            </div>
            <div class="form-group">
                <label class="control-label">Выберите картинки для описания</label>
                <input type="file" name="images" multiple />
            </div>
            <div class="form-group">
                @if (ViewBag.ImagesSubCategory.Count != 0)
                {
                    <label class="control-label">Отметьте картинки для удаления</label> <br />
                }
                @foreach (var item in ViewBag.ImagesSubCategory)
                {
                    <input type="checkbox" name="idsImages" value="@item.Id" />
                    <img src="data:image/png;base64,@item.ImageBase64" style="width:150px; height:150px;" /> <br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
