﻿@model VFIREWOOD.Domain.Core.Advertising

@{
    ViewData["Title"] = "EditAdvertising";
}

<h1>Редактировать рекламу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAdvertising" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Show" /> @Html.DisplayNameFor(model => model.Show)
                </label>
            </div>
            <div>
                <img src="data:image/png;base64,@Model.ImageBase64" style="width:200px; height:100px;" />
                <input type="hidden" name="oldTitleImage" value="@Model.ImageBase64" />
            </div>
            <div class="form-group">
                <label class="control-label">Выбрать новую картинку</label>
                <input type="file" name="titleImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Редактировать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
