﻿
@{
    ViewData["Title"] = "Index";
}

<div style="display:flex; justify-content:space-evenly;">
    <div style="display:flex; flex-direction:column; width:200px;">
        <a class="btn btn-info" style="margin-bottom:10px;" asp-area="Management" asp-controller="Home" asp-action="Orders">Заказы</a>
    </div>
    <div style="display:flex; flex-direction:column; width:200px;">
        <a class="btn btn-dark" style="margin-bottom:10px;" asp-area="Management" asp-controller="Home" asp-action="Categories">Категории</a>
        <a class="btn btn-dark" style="margin-bottom:10px;" asp-area="Management" asp-controller="Home" asp-action="SubCategories">Подкатегории</a>
        <a class="btn btn-dark" style="margin-bottom:10px;" asp-area="Management" asp-controller="Home" asp-action="Products">Продукты</a>
        <a class="btn btn-info" style="margin-bottom:10px;" asp-area="Management" asp-controller="Home" asp-action="Advertising">Реклама</a>
    </div>
</div>