﻿@model List<VFIREWOOD.Services.Interfaces.Models.ViewOrder>

@{
    ViewBag.Title = "Orders";
}

<div style="text-align:center; margin:10px;">
    @if (Model.Count != 0)
    {
        <h2>Заказы</h2>
    }
    else
    {
        <h2>Нет заказов</h2>
    }
</div>
<div style="display:flex; align-items:center; flex-direction:column;">
    @foreach (var order in Model)
    {
        <details class="forDetails">
            <summary class="forSummary">
                <span>№ @order.Order.Id</span> <span>@order.Check.DatePurchase</span> <span>@order.Check.TotalSum руб.</span>
                <span><a href="/Admin/Home/DeleteOrder/@order.Order.Id">Удалить</a></span>
            </summary>

            <table style="width:45%; margin-top:20px; margin-bottom:20px;">
                <tr>
                    <td>№ заказа</td>
                    <td>@order.Order.Id</td>
                </tr>
                <tr>
                    <td>Получатель</td>
                    <td>@order.Order.Fio</td>
                </tr>
                <tr>
                    <td>Почта:</td>
                    <td>@order.Order.Email</td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td>@order.Order.PhoneNumber</td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td>@order.Order.Address</td>
                </tr>
                <tr>
                    <td>Дата заказа</td>
                    <td>@order.Check.DatePurchase</td>
                </tr>
                @if (order.Order.Comment != null)
                {
                    <tr>
                        <td>Комментарий</td>
                        <td>@order.Order.Comment</td>
                    </tr>
                }
            </table>
            <div class="forOrderData" style="font-weight:600;">Данные заказа</div>
            <table id="basket_table">
                <tr>
                    <th>Код продукта</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                </tr>

                @for (int i = 0; i < order.CheckItems.Count; i++)
                {
                    <tr>
                        <td>@order.Products[i].Id</td>
                        <td>@order.Products[i].Name</td>
                        <td>@order.CheckItems[i].Price руб</td>
                        <td>@order.CheckItems[i].Amount</td>
                        <td>@order.CheckItems[i].Sum руб</td>
                    </tr>
                }
                <tr style="font-weight:600;">
                    <td align="right" colspan="4">Общая сумма: </td>
                    <td id="totalsumpc" colspan="2">@order.Check.TotalSum руб</td>
                </tr>
            </table>
        </details>
    }
</div>