﻿@model IEnumerable<VFIREWOOD.Domain.Core.SubCategory>

@{
    ViewData["Title"] = "SubCategories";
}

<h1>Подкатегории</h1>

<p>
    <a asp-action="AddSubCategory">Добавить подкатегорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageBase64)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RuName)
                </td>
                <td>
                    <img class="imagehw" src="data:image/png;base64,@item.ImageBase64">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditSubCategory", new { id = item.Id }) |
                    <button name="btn_remove" value="@item.Id" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Удалить
                    </button>
                    @*@Html.ActionLink("Удалить", "DeleteSubCategory", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input name="idr" type="hidden" />
                <h5 class="modal-title" id="exampleModalLabel">Удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button id="btnr" type="button" class="btn btn-primary">Удалить</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(function () {
        $("button[name='btn_remove']").click(function () {
            var id = $(this).val();
            $("input[name='idr']").val(id);
        });

        $("#btnr").click(function () {
            var id = $("input[name='idr']").val();
            location.href = `/management/Home/DeleteSubCategory/${id}`;
        });
    });
</script>