﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*MyStyles*/
    
#myContainer {
    margin-bottom: -25px;
    /*background-color: #404040;*/
    background-color: rgba(40, 40, 40, 0.7);
    min-height: calc(99vh - 115px);
}

#basket_table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    width: 100%;
}

#basket_table td, #basket_table th {
    padding: 8px;
}

#basket_table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#basket_table tr:nth-child(even) {
    background-color: white;
}

#basket_table tr:hover {
    background-color: #ddd;
}

#basket_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#basket_label {
    background: #e62b1e;
    opacity: .9;
    color: white;
    border-radius: 50%;
    /*padding: 0 4px 0 3px;*/
    position: relative;
    left: -10px;
    top: -7px;
    min-width: 22px;
    height: 23px;
    text-align:center;
    
}

.categories_container {
    display: flex;
    justify-content:space-between;
    flex-flow: wrap;
    /*align-content: baseline;*/
}

.imagehw {
    /*max-height: 250px;
    max-width: 350px;
    min-height:250px;
    min-width:250px;*/
    width:150px;
    height:150px;
}
/*MyStyles*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 61px; /* Vertically center the text there */
}
