﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
@if (User.IsInRole("admin"))
{
    <a class="btn btn-success" asp-area="Management" asp-controller="Home" asp-action="Index">Управление сайтом</a>
    <a class="btn btn-warning" asp-area="Management" asp-controller="CustomIdentity" asp-action="Index">Управление пользователями</a>
}
else if (User.IsInRole("employee"))
{
    <a class="btn btn-success" asp-area="Management" asp-controller="Home" asp-action="Index">Управление сайтом</a>
}
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}