﻿@model IEnumerable<VFIREWOOD.Domain.Core.Category>

<ul class="navbar-nav" style="margin-right:5px;">
    <li class="nav-item dropdown">
        <a class="nav-link active btn btn-warning dropdown-toggle" data-toggle="dropdown">Категории</a>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item" asp-controller="Product" asp-action="Category" asp-route-categoryname="@item.Name">@item.RuName &raquo;</a>
                    <ul class="submenu dropdown-menu">
                        @foreach (var itemt in item.SubCategories)
                        {
                            <li><a class="dropdown-item" asp-controller="Product" asp-action="SubCategory" asp-route-categoryname="@item.Name" asp-route-subcategoryname="@itemt.Name">@itemt.RuName</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
</ul> 