﻿@model IEnumerable<VFIREWOOD.Domain.Core.SubCategory>

@{
    ViewData["Title"] = "Пиломатериалы и фанера в Москве";
}

@if (ViewBag.Advertising.Count != 0)
{
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding-top:10px; margin-bottom:5px; border-bottom: 3px solid rgba(222, 222, 222, 0.5);">
        <ol class="carousel-indicators">
            @for (int i = 0; i < ViewBag.Advertising.Count; i++)
            {
                if (i == 0)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                }
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < ViewBag.Advertising.Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <a href="@ViewBag.Advertising[i].Link">
                            <img class="d-block w-100" src="data:image/png;base64,@ViewBag.Advertising[i].ImageBase64"  alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@ViewBag.Advertising[i].Text</h5>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href="@ViewBag.Advertising[i].Link">
                            <img class="d-block w-100" src="data:image/png;base64,@ViewBag.Advertising[i].ImageBase64"  alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@ViewBag.Advertising[i].Text</h5>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div class="categories_container">
    @foreach (var subCategory in Model)
    {
        <div style="align-content:center; background-color: rgba(211, 158, 0, 0.7); margin-top:5px; margin-bottom:5px; border-radius:20px;">
            <div style="text-align:center; word-wrap:break-word; width:170px; height:55px;">
                <a class="nav-link active" style="color:white; " asp-controller="Product" asp-action="SubCategory" asp-route-categoryname="@subCategory.CategoryName" asp-route-subcategoryname="@subCategory.Name">@subCategory.RuName</a>
            </div>
            <div style="display:flex; justify-content:center; margin-bottom:10px;">
                <div style="width:150px; background-color:lightgray; border-radius: 20px;">
                    <a asp-controller="Product" asp-action="SubCategory" asp-route-categoryname="@subCategory.CategoryName" asp-route-subcategoryname="@subCategory.Name">
                        <img class="imagehw" style="border-radius: 20px; padding: 3px;" src="data:image/png;base64,@subCategory.ImageBase64">
                    </a>
                </div>
            </div>
        </div>
    }
</div>
