﻿@model VFIREWOOD.Domain.Core.Order

@{
    ViewData["Title"] = "Корзина";
}

@if (ViewBag.Products.Count != 0)
{
    <h2 style="color:white;">Корзина</h2>

    <table class="table table-hover table-bordered table-dark" style="font-size:12px;">
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ViewBag.Products)
            {
                <tr name="product">
                    <td name="code" style="display:none;">@product.Id</td>
                    <td name="name">@product.Name @product.Dimensions</td>
                    <td name="price">
                        @if (product.Discount != 0)
                        {
                            @product.Discount
                        }
                        else
                        {
                            @product.Price
                        }
                        руб
                    </td>
                    <td align="center">
                        <div style="display:flex;">
                            <div name="plus" style="margin-right:5px; cursor:pointer;">
                                <img src="~/Images/plus.png" style="width:20px;"/>
                            </div>
                            <div style="border: 1px solid gray;">
                                <input name="amount" type="text" style="max-width:40px; height:20px; text-align:center;" value="1" min="1" max="2147483647" />
                            </div>
                            <div name="minus" style="margin-left:5px; cursor:pointer;">
                                <img src="~/Images/minus.png" style="width:20px;"/>
                            </div>
                        </div>
                    </td>
                    <td name="sum">
                        @if (product.Discount != 0)
                        {
                            @product.Discount
                        }
                        else
                        {
                            @product.Price
                        }
                        руб
                    </td>
                    <td>
                        <button name="btnp" value="@product.Id" type="button" style="border: 0; background: transparent">
                            <img src="/images/remove_from_basket.png" style="width:20px;"/>
                        </button>
                    </td>
                </tr>
            }
            <tr style="font-weight:600;">
                <td align="right" colspan="4">Общая сумма: </td>
                <td id="totalsum" colspan="2"></td>
            </tr>
        </tbody>
    </table>
    <div class="row" style="margin-top:30px; display: flex; justify-content: center;">
        <div class="col-md-4">
            <form asp-action="Basket" style="background-color:white; padding:10px; border-radius:10px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsCompany" /> @Html.DisplayNameFor(model => model.IsCompany)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Fio" class="control-label"></label>
                    <input asp-for="Fio" class="form-control" placeholder="Иванов Иван Иваныч" />
                    <span asp-validation-for="Fio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="ivan@gmail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="74955671278" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <textarea asp-for="Comment" class="form-control"> </textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <input type="hidden" name="jsonprod" />
                <div class="form-group" style="display: flex; justify-content: center;">
                    <input type="submit" value="Оформить заказ" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h2 style="color:white;">Ваша корзина пуста</h2>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $(function () {
        $("form").submit(function () {
            var json = '';
            var count = $('tr[name = "product"]').length;

            for (var i = 0; i < count; i++) {
                json += $('td[name = "code"]').eq(i).html() + ":";
                json += $('input[name = "amount"]').eq(i).val() + "|";
            }

            $('input[name ="jsonprod"]').val(json);

            return;
        });

        $('td[id = "totalsum"]').html(set_totalsum() + " руб");

        $('div[name = "plus"]').click(function (e) {
            var general_index = $('td div div[name = "plus"]').index(this);
            var get_price = $('tr td[name = "price"').eq(general_index).html();
            get_price = get_price.replace(/[^+\d]/g, '');
            get_price = parseInt(get_price);
            $('input[name = "amount"]').eq(general_index).val(function (i, oldval) {
                var max_val = $(this).attr("max");
                oldval = parseInt(oldval);
                max_val = parseInt(max_val);
                if (oldval < max_val) {
                    ++oldval;
                    $('tr td[name = "sum"').eq(general_index).html((get_price * oldval) + " руб");
                    $('td[id = "totalsum"]').html(set_totalsum() + " руб");
                    return oldval;
                }
                return oldval;
            });
        });

        $('div[name = "minus"]').click(function (e) {
            var general_index = $('td div div[name = "minus"]').index(this);
            var get_price = $('tr td[name = "price"').eq(general_index).html();
            get_price = get_price.replace(/[^+\d]/g, '');
            get_price = parseInt(get_price);
            var get_sum = $('tr td[name = "sum"').eq(general_index).html();
            get_sum = get_sum.replace(/[^+\d]/g, '');
            get_sum = parseInt(get_sum);

            $('input[name = "amount"]').eq(general_index).val(function (i, oldval) {
                var min_val = $(this).attr("min");
                oldval = parseInt(oldval);
                min_val = parseInt(min_val);
                if (oldval > min_val) {
                    $('tr td[name = "sum"').eq(general_index).html((get_sum -= get_price) + " руб");
                    $('td[id = "totalsum"]').html(set_totalsum() + " руб");
                    return --oldval;
                }
                return oldval;
            });
        });

        $('button[name="btnp"]').click(function () {

            var button = $(this);
            RemoveProductFromBasket(button.val());
            button.parent('td').parent('tr').remove();
            if ($('tr[name="product"]').length == 0)
                location.reload();
            $('td[id = "totalsum"]').html(set_totalsum() + " руб");
        });

        function RemoveProductFromBasket(id) {
            $.ajax({
                type: "POST",
                url: "/Product/RemoveProductFromBasket",
                content: "application/json; charset=utf-8",
                async: false,
                data: { id: id },

                success: function (response) {
                    var basket_label = $('#basket_label');
                    var amount = parseInt(basket_label.html());
                    basket_label.html(--amount);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error");
                }
            });
        }

        function set_totalsum() {
            var total = 0;
            $('tr td[name = "sum"').each(function () {
                var get_sum = this.innerHTML;
                get_sum = get_sum.replace(/[^+\d]/g, '');
                total += parseInt(get_sum);
            });
            return total;
        }
    });
</script>