﻿@model IEnumerable<VFIREWOOD.Domain.Core.SubCategory>

@{
    ViewData["Title"] = ViewBag.CategoryRuName + " в Москве";
}

<div class="categories_container">
    @foreach (var subCategory in Model)
    {
        <div style="align-content:center; background-color: rgba(211, 158, 0, 0.7); margin-top:5px; margin-bottom:5px; border-radius:20px;">
            <div style="text-align:center; word-wrap:break-word; width:170px; height:55px;">
                <a class="nav-link active" style="color:white; " asp-controller="Product" asp-action="SubCategory" asp-route-categoryname="@subCategory.CategoryName" asp-route-subcategoryname="@subCategory.Name">@subCategory.RuName</a>
            </div>
            <div style="display:flex; justify-content:center; margin-bottom:10px;">
                <div style="width:150px; background-color:lightgray; border-radius: 20px;">
                    <a asp-controller="Product" asp-action="SubCategory" asp-route-categoryname="@subCategory.CategoryName" asp-route-subcategoryname="@subCategory.Name">
                        <img class="imagehw" style="border-radius: 20px; padding: 3px;" src="data:image/png;base64,@subCategory.ImageBase64">
                    </a>
                </div>
            </div>
        </div>
    }
</div>