﻿@model IEnumerable<IGrouping<string, VFIREWOOD.Domain.Core.Product>>

@{
    ViewData["Title"] = "Скидки";
}

@{
    List<int> idProducts = new List<int>();
    var session = Context.Session.GetString("IdProducts");
    if (session != null)
    {
        idProducts = JsonConvert.DeserializeObject<List<int>>(session);
    }
}

@foreach (var item in Model)
{
<table class="table table-bordered" style="text-align:center; color:white;">
    <thead>
        <tr style="background-color:darkred">
            <th colspan="4">@item.Key</th>
        </tr>
        <tr>
            <th scope="col">Размеры</th>
            <th scope="col">Единица измерения</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var items in item)
    {
        <tbody>
            <tr>
                <td>@items.Dimensions</td>
                <td>@items.Unit</td>
                <td>
                    @if (items.Discount != 0)
                    {
                        <span style="color:white;">@items.Discount</span> <s style="color:red;">@items.Price</s>
                    }
                    else
                    {
                        @items.Price
                    }
                    руб.
                </td>
                <td>
                    @if (idProducts.Find(x => x == items.Id) != 0)
                    {
                        <img onclick="PutInBasket(this)" src="~/images/cartAdded.png" alt="@items.Id" />
                    }
                    else
                    {
                        <img onclick="PutInBasket(this)" src="~/images/cartAdd.png" alt="@items.Id" />
                    }
                </td>
            </tr>
        </tbody>
    }
</table>
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    function PutInBasket(button) {
        var btn = $(button);
        if (btn.attr("src") == "/images/cartAdded.png") {
            RemoveProductFromBasket(button);
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Product/PutInBasket",
            content: "application/json; charset=utf-8",
            data: { id: btn.attr("alt") },

            success: function (response) {
                if (response == 'in stock') {
                    btn.attr("src", "@Url.Content("~/images/cartAdded.png")");
                    var basket_label = $('#basket_label');
                    var amount = parseInt(basket_label.html());
                    basket_label.html(++amount);
                }
                else {
                    btn.attr("src", "@Url.Content("~/images/cartNotAvailable.png")");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error");
            }
        });
    }

    function RemoveProductFromBasket(button) {
        var btn = $(button);
        $.ajax({
            type: "POST",
            url: "/Product/RemoveProductFromBasket",
            content: "application/json; charset=utf-8",
            data: { id: btn.attr("alt") },

            success: function (response) {
                btn.attr("src", "@Url.Content("~/images/cartAdd.png")");
                var basket_label = $('#basket_label');
                var amount = parseInt(basket_label.html());
                basket_label.html(--amount);
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error");
            }
        });
    }

</script>