﻿@model VFIREWOOD.Services.Interfaces.Models.ViewOrder

@{
    ViewBag.Title = "Ваш заказ";
}

<h2 style="color:white;">Ваш заказ принят, ожидайте звонка менеджера</h2>

<table style="color:white; width:35%; margin-top:20px; margin-bottom:20px;">
    <tr>
        <td>Номер заказа</td>
        <td>@Model.Order.Id</td>
    </tr>
    <tr>
        <td>Компания?</td>
        @if (Model.Order.IsCompany)
        {
            <td>Да</td>
        }
        else
        {
            <td>Нет</td>
        }
    </tr>
    <tr>
        <td>Получатель</td>
        <td>@Model.Order.Fio</td>
    </tr>
    <tr>
        <td>Почта</td>
        <td>@Model.Order.Email</td>
    </tr>
    <tr>
        <td>Номер телефона</td>
        <td>@Model.Order.PhoneNumber</td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>@Model.Order.Address</td>
    </tr>
    <tr>
        <td>Дата заказа</td>
        <td>@Model.Check.DatePurchase</td>
    </tr>
    @if (Model.Order.Comment != null)
    {
        <tr>
            <td>Комментарий</td>
            <td>@Model.Order.Comment</td>
        </tr>
    }
</table>

<h4 style="color: white; font-weight: 600;">Данные вашего заказа</h4>

<table class="table table-hover table-bordered table-dark" style="font-size:12px;">
    <thead>
        <tr>
            <th style="display:none;"></th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.CheckItems.Count; i++)
        {
            <tr>
                <td>@Model.Products[i].Name @Model.Products[i].Dimensions</td>
                <td style="display:none;"></td>
                <td>@Model.CheckItems[i].Price руб</td>
                <td>@Model.CheckItems[i].Amount</td>
                <td>@Model.CheckItems[i].Sum руб</td>
            </tr>
        }
        <tr style="font-weight:600;">
            <td align="right" colspan="3">Общая сумма: </td>
            <td id="totalsumpc" colspan="2">@Model.Check.TotalSum руб</td>
        </tr>
    </tbody>
</table>